p {
    background-color: cyan;
    border-radius: 5px;
    border: 2px double violet;
}

.box {
    background-color:turquoise;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px dotted violet;
}